/* Base Styles */

body, html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #07a0ba;
}

.heading-1 {
    font-size: 3em;
}

/* nav styles */
.header	{
	background: rebeccapurple;
	padding: 10px;
}

.nav__item {
	display: inline-block;
}

.nav__link {
	color: white;
	text-decoration: none;
}

.nav__item + .nav__item {
	margin-left: 20px;
}

